[Unit]
Description=Lock X session using slimlock for user %i
Documentation=man:awesome(1)

[Service]
User=%i
ExecStart=/usr/bin/slimlock

[Install]
WantedBy=sleep.target
