[Unit]
Description=Lock X session using xscreensaver for user %i
Documentation=man:xscreensaver(1)
Before=sleep.target

[Service]
User=%i
Type=oneshot
ExecStart=/usr/bin/xscreensaver-command -lock
Environment=DISPLAY=:0

[Install]
WantedBy=sleep.target
